.Events {
  position: absolute;
  width: 80%;
  height: 20%;
  bottom: 2%;
  left: 10%;
  display: flex;
}

.Events__dogAvatar {
  width: 20%;
  border: 1px solid black;
}

.Events__message {
  width: 100%;
  background-image: url("https://i.pinimg.com/originals/2b/cf/f1/2bcff16a079390dc8479586334f81a7e.png");
}
.Events__message h2 {
  margin: 0;
}
.Events__message h3 {
  margin: 2% 0 0 3%;
}

@media (orientation: portrait) {
  .Events {
    width: 100%;
    left: 0;
  }
  .Events__dogAvatar {
    width: 40%;
  }
}
